/* Estilos simples para el main */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

p, li {
    text-align: left;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px; 
    list-style: none;
}

li {
    margin-bottom: 10px;
}
